body{
    padding-top: 12%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    font-family: monospace;
    font-size: 30px;
    background-color: darkgrey;
}

.myform {
    margin-top: 12% ;
    margin-bottom: 10% ;
    margin-left: 20% ;
    margin-right: 20% ;
    background-color: aliceblue;
}